.fffa-banner {
	color: black;
	padding: 32px;
	border-bottom: solid 3px black;
	display: flex;
	align-items: center;
	background-color: #508cfc9d;
}

.fffa-title {
	margin-left: auto;
	margin-right: auto;
}

.fffa-logo {
    width: 13%;
	height: auto;
}


.fffa-login {
	background-color: #6c757d76;
    color: black;
	margin-right:  3%;
}

@media screen and (max-width: 600px) {
	.fffa-title{
		width: 300px;
	}
	.fffa-logo{
		width: 20%;
	}

}