nav {
  background-color: #3d3737;
  padding: 10px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline;
}

a {
  color: #fff;
  padding: 10px;
}

a:hover {
  background-color: #555;
}